.vertical-horizontal {
	position: relative;
}

.vertical-horizontal div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 90%;
	height: 10%;
	border: 2px solid red;
}
